* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-center {
  max-width: 65rem;
  margin: 2rem auto;
  text-transform: capitalize;
}

.color {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.color-light {
  color: #fff;
}

.error {
  color: red;
}

form {
  margin-bottom: 2rem;
}
